<div>
    <div class="container bg-dark">
        <div class="row filmsList">
            <div ng-repeat="film in foundFilms">
                <div data-toggle="modal" data-target="#exampleModal" ng-click="getFilm(film)" class="card bg-dark text-white mr-1 mt-1" ng-mouseenter="showName = true" ng-mouseleave="showName = false"
                     style="min-width:14rem;max-width: 14rem;min-height:10rem; max-height: 30rem ;background-image: url('app/home/noimg.png');
            background-size: cover;">
                    <img class="card-img" src="{{film.Poster}}">
                    <div class="card-img-overlay" ng-show="showName">
                        <div class="row" style="background-color: #343a40">
                            <h5 class="card-title">{{film.Title}}</h5>
                            <h5 class="card-text">{{film.Year}}.</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>